.acordeon {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid white;
  border-radius: 1rem;
  transition: 0.25s;
  margin-bottom: 2rem;
}


.acordeon.open,
.acordeon:hover {
  background-color: rgb(98 65 157 / 98%);
    border-color: #e7dde2;
 
}



.acordeon .trigger {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 2rem;
  background-color: transparent;
  color: #fff1f1;
  border: none;
}

.acordeon.open .trigger::after {
  transform: rotate(180deg);
}

.acordeon .trigger:hover {
  cursor: pointer;
}

.acordeon .trigger::after {
  content: "";
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../img/icons/arrow.svg");
  transition: 0.25s;
  
}

.acordeon .content {
  overflow: hidden;
  height: 0;
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
  padding: 0;
  margin: 0;  
}

.acordeon.open .content {
  display: block;
  height: auto;
  opacity: 1;
  padding: 0;
  align-self: center;
  
}



