.cursos {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    margin: 0;
    padding: 0 1rem 1rem 2rem;
    list-style: none;
  }
  
  
  
.cursos li {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 1rem 0;
}
  
.cursos li h3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.25rem;
    font-weight: 700;
    margin: 0;
    margin-bottom: .5rem;
  }

  
  @media only screen and (min-width: 786px) {
    .cursos{
      display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding: 0rem 0 1rem 1rem;
    }
    .cursos a {
      display: flex;
      padding: 0;
      margin: 0;
    }
  
    .cursos li {
      display: flex;
      padding: 1rem;
      margin: 0;
    }
}