footer {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
}

footer img {    
    max-width: 100px;
    padding-bottom: 1.5rem;
}