* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}



a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.main {
  
  margin: 5rem;
  padding: 2rem 2rem 0.1rem 2rem;
  border: 1px solid #fff;
  border-radius: 1rem;
  background-color: rgba(0, 0, 0, 0.486);
}



@media only screen and (min-width: 786px) {
  .main {
    max-width: 800px;
    margin: 9.5rem auto;
    padding: 2rem 2rem 0 2rem;
  }

  .main::before {
    max-width: 3840px;
  }
}
