.portfolio {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  padding-bottom: 1rem;
}

.portfolio li {
  display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
    padding-bottom: 1rem;
    align-items: flex-start;
    flex-wrap: nowrap;
}

.portfolio li h3, a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.portfolio li h3.github::before {
  content: "";
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../img/icons/github.svg");
  margin-right: 0.3rem;
  text-align: center;
}

.previewPokedex,
.previewRelogio,
.previewLogin {
  width: 100%;
  max-width: 200px;
  border-style: ridge;
  border-radius: 5%;
  display: flex;
  flex-wrap: wrap;
}


